/* Первая страница */ 

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('https://sun9-39.userapi.com/c853424/v853424820/68991/Dy1KlvB6ekw.jpg');
    background-repeat: no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
}

header{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: rgba(222, 226, 230, 0.822);
    box-sizing: border-box;
    border-radius: 5px;
    box-sizing: 0 2px 5px rgba(0,0,0, .2);
}

.safar{
    color: #069370;
    height: 60px;
    font-size:  40px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 600;
    text-decoration: none;

}
nav{
    float: right;
}

.clear{
    clear: both;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;

}
nav ul li{
    list-style: none;
}

.sing{
    margin-left:  45px;
    display: block;
}

nav ul li a{
    text-decoration:red ;
    display: block;
    margin: 10px 0;
    padding:  10px 15px;
    color: #262626;
}



nav ul li a:hover,
nav ul li a.activ{
    background: #069370;
    color: #fff;
    transition: 0.5s;

}

@media (max-width: 1200px){
    header{
        margin: 20px;
    }
}


@media (max-width: 768px){
    body{
        background: lightblue;
    }
    .manu-tog{
      display: block;
      width: 40px;
      height: 40px;
      margin: 10px;
      background: #fff;
      float: right;
      cursor: pointer;
      text-align: center;
      font-size: 30px;
      color: #069370

    }
    .manu-tog:before{
       content: '\f0c9';
       font-family: fontAwesome;
       line-height: 40px;
    }
    .manu-tog.activ:before{
        content: '\f00d';
        
     }
    nav{
        display: none;
    }
    nav.activ{
        display: block;
        width: 100%;

    }
    nav.activ ul{
        display: block;
    }
    .sing{
        
        margin: 0;
    }
    }


